<footer>
    <div class="row expanded">
        <div class="medium-4 column text-center medium-text-left show-for-medium" id="footernav">
            <ul class="vertical menu">
                <li><a href="explore.html">EXPLORE</a></li>
                <li><a href="nearby.html">TRIP</a></li>
                <li><a href="sharedplace.html">SHARED PLACE</a></li>
            </ul>
        </div>
        <div class="hide-for-medium text-center" id="footernav">
            <ul class="menu expanded">
                <li><a href="explore.html">EXPLORE</a></li>
                <li><a href="nearby.html">TRIP</a></li>
                <li><a href="sharedplace.html">SHARED PLACE</a></li>
            </ul>
        </div>
        <div class="medium-4 column text-center medium-text-left" id="applink">
            <h5>Also available in :</h5>
            <a href="https://play.google.com/store/apps/details?id=com.greenlabs.gtrip&hl=in" target="_blank"><img src="{{root}}assets/img/googleplay.png" alt=""></a>
        </div>
        <div class="medium-4 column show-for-medium medium-text-right" id="footer_quote">
            <h4>"A Journey of a thousand miles must begin with a single step"</h4>
            <p><em>- Lao Tzu -</em></p>
        </div>
    </div>
</footer>
