<div class="top-bar show-for-medium" id="nav">
    <div class="top-bar-left">
        <a href="index.html" id="logo"><img src="{{root}}assets/img/Logo.png" alt="" width="80%"></a>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><a href="explore.html">EXPLORE</a></li>
            <li><a href="trip.html">TRIP</a></li>
            <li><a href="sharedplace.html">SHARED PLACE</a></li>
        </ul>
    </div>
</div>


<ul class="vertical menu hide-for-medium" id="smallnav" data-accordion-menu>
    <li>
        <a href="#">
            <img src="{{root}}assets/img/Logo.png" alt="">
        </a>
        <ul class="vertical menu nested" id="smallnav_content">
           <li><a href="index.html">HOME</a></li>
           <hr>
            <li><a href="explore.html">EXPLORE</a></li>
            <hr>
            <li><a href="trip.html">TRIP</a></li>
            <hr>
            <li><a href="sharedplace.html">SHARED PLACE</a></li>
            <hr>
        </ul>
    </li>
</ul>
